<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <%- include('./partials/bootHeader') %>
    <link rel="stylesheet" href="/styles/app.css">   
</head>
<body>
    <div class="my-5">
        <a href="/tol" class="btn btn-success">Full Tree</a>
    </div>

    <div class="row my-5">
        <div class="col-3 offset-2">
            <h3>Sephira: </h3><br>
            <div class="row">
                <div class="col-3 offset-3">
                    <a href="/tol/keter" class="btn btn-secondary my-1">Keter</a><br>
                    <a href="/tol/chokma" class="btn btn-secondary my-1">Chokma</a><br>
                    <a href="/tol/bina" class="btn btn-secondary my-1">Bina</a><br>
                    <a href="/tol/chesed" class="btn btn-secondary my-1">Chesed</a><br>
                    <a href="/tol/gebura" class="btn btn-secondary my-1">Gebura</a><br>
                </div>
                <div class="col-3">
                    <a href="/tol/tiferet" class="btn btn-secondary my-1">Tiferet</a><br>
                    <a href="/tol/netzach" class="btn btn-secondary my-1">Netzach</a><br>
                    <a href="/tol/hod" class="btn btn-secondary my-1">Hod</a><br>
                    <a href="/tol/yesod" class="btn btn-secondary my-1">Yesod</a><br>
                    <a href="/tol/malkuth" class="btn btn-secondary my-1">Malkuth</a><br>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
            <h3>Paths: </h3>
            <div class="row">
                <div class="col-3">
                    <a href="/tol/aleph" class="btn btn-secondary my-1">Aleph</a><br>
                    <a href="/tol/beth" class="btn btn-secondary my-1">Beth</a><br>
                    <a href="/tol/gimel" class="btn btn-secondary my-1">Gimel</a><br>
                    <a href="/tol/daleth" class="btn btn-secondary my-1">Daleth</a><br>
                    <a href="/tol/heh" class="btn btn-secondary my-1">Heh</a><br>
                    <a href="/tol/vav" class="btn btn-secondary my-1">Vav</a><br>
                </div>
                <div class="col-3">
                    <a href="/tol/zain" class="btn btn-secondary my-1">Zain</a><br>
                    <a href="/tol/cheth" class="btn btn-secondary my-1">Cheth</a><br>
                    <a href="/tol/Teth" class="btn btn-secondary my-1">Teth</a><br>
                    <a href="/tol/yod" class="btn btn-secondary my-1">Yod</a><br>
                    <a href="/tol/kaph" class="btn btn-secondary my-1">Kaph</a><br>
                    <a href="/tol/lamed" class="btn btn-secondary my-1">Lamed</a><br>
                </div>
                <div class="col-3">
                    <a href="/tol/mem" class="btn btn-secondary my-1">Mem</a><br>
                    <a href="/tol/nun" class="btn btn-secondary my-1">Nun</a><br>
                    <a href="/tol/samekh" class="btn btn-secondary my-1">Samekh</a><br>
                    <a href="/tol/ayin" class="btn btn-secondary my-1">Ayin</a><br>
                    <a href="/tol/peh" class="btn btn-secondary my-1">Peh</a><br>
                    <a href="/tol/tzaddi" class="btn btn-secondary my-1">Tzaddi</a><br>
                </div>
                <div class="col-3">
                    <a href="/tol/qoph" class="btn btn-secondary my-1">Qoph</a><br>
                    <a href="/tol/resh" class="btn btn-secondary my-1">Resh</a><br>
                    <a href="/tol/shin" class="btn btn-secondary my-1">Shin</a><br>
                    <a href="/tol/tau" class="btn btn-secondary my-1">Tau</a><br>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/bootJS') %> 
</body>
</html>