<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree Of Life</title>
    <link rel="stylesheet" href="/styles/app.css">
</head>
<body>
    <svg width="600" height="1000">
        <a href="/tol/keter">
            <circle class="keter" cx="300" cy="50" r="40" stroke="black" stroke-width="4" fill="white"/>
            <text class="keter" fill="black" font-size="18" font-family="Verdana" x="276" y="57">Keter</text>
        </a>

        <a href="/tol/chokma">
            <circle id="chokma" cx="430" cy="140" r="40" stroke="black" stroke-width="4" fill="#8ABAD3"/>
            <text fill="black" font-size="18" font-family="Verdana" x="393" y="147">Chokma</text>
        </a>

        <a href="/tol/bina">
            <circle id="bina" cx="170" cy="140" r="40" stroke="black" stroke-width="4" fill="#AE0E36"/>
            <text fill="black" font-size="18" font-family="Verdana" x="149" y="147">Bina</text>
        </a>

        <a href="/tol/chesed">
            <circle id="chesed" cx="430" cy="250" r="40" stroke="black" stroke-width="4" fill="#420099"/>
            <text fill="black" font-size="18" font-family="Verdana" x="396" y="257">Chesed</text>
        </a>

        <a href="/tol/gebura">
            <circle id="gebura" cx="170" cy="250" r="40" stroke="black" stroke-width="4" fill="#FF6D00"/>
            <text fill="black" font-size="18" font-family="Verdana" x="137" y="257">Gebura</text>
        </a>

        <a href="/tol/tiferet">
            <circle id="tipharet" cx="300" cy="325" r="40" stroke="black" stroke-width="4" fill="#FDC3C6"/>
            <text fill="black" font-size="18" font-family="Verdana" x="270" y="332">Tiferet</text>
        </a>

        <a href="/tol/netzach">
            <circle id="netzach" cx="430" cy="400" r="40" stroke="black" stroke-width="4" fill="#FFB734"/>
            <text fill="black" font-size="18" font-family="Verdana" x="394" y="407">Netzach</text>
        </a>

        <a href="/tol/hod">
            <circle id="hod" cx="170" cy="400" r="40" stroke="black" stroke-width="4" fill="#8C15C4"/>
            <text fill="black" font-size="18" font-family="Verdana" x="150" y="407">Hod</text>
        </a>

        <a href="/tol/yesod">
            <circle id="yesod" cx="300" cy="485" r="40" stroke="black" stroke-width="4" fill="#001489"/>
            <text fill="black" font-size="18" font-family="Verdana" x="273" y="493">Yesod</text>
        </a>

        <a href="/tol/malkuth">
            <circle id="malkuth" cx="300" cy="610" r="40" stroke="black" stroke-width="4" fill="#FEDD00"/>
            <text fill="black" font-size="18" font-family="Verdana" x="265" y="617">Malkuth</text>
        </a>

        <a href="/tol/aleph">
            <line id="path11" x1="332" y1="75" x2="395" y2="120" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/beth">
            <line id="path12" x1="268" y1="75" x2="205" y2="120" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/gimel">
            <line id="path13" x1="300" y1="90" x2="300" y2="285" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/daleth">
            <line id="path14" x1="210" y1="145" x2="390" y2="145" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/heh">
            <line id="path15" x1="405" y1="170" x2="325" y2="295" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/vav">
            <line id="path16" x1="430" y1="180" x2="430" y2="210" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/zain">
            <line id="path17" x1="195" y1="170" x2="275" y2="295" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/cheth">
            <line id="path18" x1="168" y1="180" x2="168" y2="210" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/teth">
            <line id="path19" x1="210" y1="250" x2="390" y2="250" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/yod">
            <line id="path20" x1="336" y1="310" x2="395" y2="270" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/kaph">
            <line id="path21" x1="430" y1="290" x2="430" y2="360" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/lamed">
            <line id="path22" x1="205" y1="270" x2="264" y2="310" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/mem">
            <line id="path23" x1="168" y1="290" x2="168" y2="360" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/nun">
            <line id="path24" x1="336" y1="345" x2="395" y2="380" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/samekh">
            <line id="path25" x1="300" y1="365" x2="300" y2="445" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/ayin">
            <line id="path26" x1="205" y1="380" x2="264" y2="345" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/peh">
            <line id="path27" x1="210" y1="402" x2="390" y2="402" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/tzaddi">
            <line id="path28" x1="336" y1="470" x2="395" y2="420" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/qoph">
            <line id="path29" x1="325" y1="580" x2="410" y2="435" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/resh">
            <line id="path30" x1="264" y1="470" x2="205" y2="420" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/shin">
            <line id="path31" x1="275" y1="580" x2="190" y2="435" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>

        <a href="/tol/tau">
            <line id="path32" x1="300" y1="525" x2="300" y2="570" style="stroke:rgb(0,0,0);stroke-width:10" />
        </a>
        
    </svg>

    <script src="/scripts/tol.js"></script>
</body>
</html>